html{
    scroll-snap-type: y mandatory;
}

.section{
    scroll-snap-align: start;
}

body{
    margin: 0;
    background-color: white;
}

/*----- NAVBAR -----*/

.navbar{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    position: fixed;
    z-index: 3;
    width: 100%;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.272);
}

.logo{
    padding-left: 20px;
}

.contents ul{
    display: flex;
    flex-direction: row;
    font: 1em sans-serif;
    font-weight: bold;
}

.contents li{
    list-style-type: none;
    padding: 20px;
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contents a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all;
    transition-duration: 0.5s;
}

.contents a:hover{
    color: grey;
    letter-spacing: 2px;
}

.items{
    display: none;
    display: flex;   
    position: fixed;
    z-index: 2;
    margin-left: 75.5%;
    margin-top: 200px;
}

.items ul{
    list-style-type: none;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:floralwhite;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    row-gap: 10px;
    width: 90px;
    display: none;
}

/*-*/

.container{
    padding-top: 10vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
 /*    background-color: rgb(253, 253, 253); */
}

/*----- BUTTON STYLING -----*/

#conver, #suv, #muscle, #sedan, #electric, #sports{
    border-radius: 50%;
    border-style: none;
    height: 200px;
    width: 200px;
    position: absolute;
    font: 1em sans-serif;
}

#cars button{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: none;
    font: 1em sans-serif;
}

#cars{
    position: absolute;
    z-index: 2;
}

#carsbtn{
    background-color: hsl(34, 100%, 73%);
    transition: all 0.4s ease-out;
}

#conver{
    height: 190px !important;
    width: 190px !important;
    z-index: 1;
    background-color: hsl(52, 100%, 73%);
    transition: all 0.5s;
}

#suv{
    height: 90px !important;
    width: 90px !important;
    z-index: 1;
    background-color: hsl(18, 100%, 73%);
    transition: all 0.5s;
}

#electric{
    height: 140px !important;
    width: 140px !important;
    z-index: 1;
    background-color: hsl(161, 100%, 73%);
    transition: all 0.5s;
}

#sedan{
    height: 100px !important;
    width: 100px !important;
    z-index: 1;
    background-color: hsl(211, 100%, 73%);
    transition: all 0.5s;
}

#sports{
    height: 120px !important;
    width: 120px !important;
    z-index: 1;
    background-color: hsl(269, 100%, 73%);
    transition: all 0.5s;
}

#muscle{
    height: 170px !important;
    width: 170px !important;
    z-index: 1;
    background-color: hsl(321, 100%, 73%);
    transition: all 0.5s;
}

/*----- BUTTON HOVER -----*/

#carsbtn:hover{
    box-shadow: 2px 2px 15px grey;
    letter-spacing: 2px;
    background-color: hsl(34, 100%, 63%);
    font-size: 1.2em;
    scale: 105%;
}

#conver:hover{
    box-shadow: 2px 2px 15px grey;
    letter-spacing: 2px;
    background-color: hsl(52, 100%, 63%);
    font-size: 1.2em;
    scale: 105%;
}

#suv:hover{
    box-shadow: 2px 2px 15px grey;
    letter-spacing: 2px;
    background-color: hsl(18, 100%, 63%);
    font-size: 1.2em;
    scale: 105%;
}

#electric:hover{
    box-shadow: 2px 2px 15px grey;
    letter-spacing: 2px;
    background-color: hsl(161, 100%, 63%);
    font-size: 1.2em;
    scale: 105%;
}

#sedan:hover{
    box-shadow: 2px 2px 15px grey;
    letter-spacing: 2px;
    background-color: hsl(211, 100%, 63%);
    font-size: 1.2em;
    scale: 105%;
}

#sports:hover{
    box-shadow: 2px 2px 15px grey;
    letter-spacing: 2px;
    background-color: hsl(269, 100%, 63%);
    font-size: 1.2em;
    scale: 105%;
}

#muscle:hover{
    box-shadow: 2px 2px 15px grey;
    letter-spacing: 2px;
    background-color: hsl(321, 100%, 63%);
    font-size: 1.2em;
    scale: 105%;
}

/*----- ANIMATIONS -----*/

@keyframes animeconver{
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(-250px, -165px);
    }
    100%{
        transform: translate(-225px, -150px);
    }
}

@keyframes animeelectric{
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(160px, -195px);
    }
    100%{
        transform: translate(145px, -180px);
    }
}

@keyframes animesuv{
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(-115px, 195px);
    }
    100%{
        transform: translate(-105px, 180px);
    }
}

@keyframes animesedan{
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(330px, -66px);
    }
    100%{
        transform: translate(300px, -60px);
    }
}

@keyframes animesports{
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(-280px, 93px);
    }
    100%{
        transform: translate(-265px, 85px);
    }
}

@keyframes animemuscle{
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(220px, 165px);
    }
    100%{
        transform: translate(200px, 150px);
    }
}


.animateconver{
    animation: animeconver 1s ease-out;
    animation-fill-mode: forwards;
}

.animateelectric{
    animation: animeelectric 1.4s ease-out;
    animation-fill-mode: forwards;
}

.animatesuv{
    animation: animesuv 2s ease-out;
    animation-fill-mode: forwards;
}

.animatesedan{
    animation: animesedan 1.8s ease-out;
    animation-fill-mode: forwards;
}

.animatesports{
    animation: animesports 1.6s ease-out;
    animation-fill-mode: forwards;
}

.animatemuscle{
    animation: animemuscle 1.2s ease-out;
    animation-fill-mode: forwards;
}

/*----- ABOUT CARS -----*/

.about-cars{
    height: 100vh;
    background-image: linear-gradient(hsl(59, 100%, 83%),hsl(59, 100%, 58%));
    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-right: 100px;
    font: 1.5em sans-serif;
    align-items: center;
    justify-content: center;
    line-height: 170%;
}

.about-cars p{
    text-align: justify;
    text-justify: inter-word;
}

/*----- ALL CARS -----*/

.about-allcars{
    height: 100vh;
    background-image: linear-gradient(hsl(269, 100%, 83%),hsl(269, 100%, 58%));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3em;
}

.cars-info{
    height: 50vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.cars-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cars-card img{
    z-index: 2;
    transition: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.cars-card p{
    z-index: 1;
    margin-top: -25px;
    transition: all;
    transition-duration: 0.2s;
}

.cars-card img:hover{
    transform: translateY(-20px);
    box-shadow: 0px 7px 8px rgb(45, 45, 45);
}

.cars-card:hover p{
    transform: translateY(25px);
}

.about-allcars button{
    font-size: 1em;
    padding: 10px;
    border-radius: 20px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: transparent;
    transition: all 0.3s;
    cursor: pointer;
    text-align: center;
}

.about-allcars button:hover{
    background-color: rgb(0, 0, 0);
    color: hsl(269, 100%, 73%);
}

.electric-bg button:hover{
    color: hsl(161, 100%, 73%);
}

.convertible-bg button:hover{
    color: hsl(52, 100%, 73%);
}

.muscle-bg button:hover{
    color: hsl(321, 100%, 73%);
}

.sedan-bg button:hover{
    color: hsl(211, 100%, 73%);
}

.suv-bg button:hover{
    color: hsl(18, 100%, 73%);
}


.electric-bg{
    background-image: linear-gradient(hsl(161, 100%, 83%),hsl(161, 100%, 58%));
}

.muscle-bg{
    background-image: linear-gradient(hsl(321, 100%, 83%),hsl(321, 100%, 58%));
}

.convertible-bg{
    background-image: linear-gradient(hsl(52, 100%, 83%),hsl(52, 100%, 58%));
}

.sedan-bg{
    background-image: linear-gradient(hsl(211, 100%, 83%),hsl(211, 100%, 58%));
}

.suv-bg{
    background-image: linear-gradient(hsl(18, 100%, 83%),hsl(18, 100%, 58%));
}

.test{
    background-image: url(./pics/Convertible/Audi\ A5.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    animation: animetest 1s forwards;
}

@keyframes animetest{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}