body{
    margin: 0;
}

/*----- NAVBAR -----*/

.navbar{
    background-color: rgb(236, 236, 236);
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.logo{
    padding-left: 20px;
}

ul{
    display: flex;
    flex-direction: row;
    font: 1em sans-serif;
    font-weight: bold;
}

.contents li{
    list-style-type: none;
    padding: 20px;
    font-size: 1.5em;
}

.contents a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
/*-*/

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: aquamarine;
}

/*----- BUTTON STYLING -----*/

#calc, #tour, #currency, #clock, #weather, #timer{
    border-radius: 50%;
    border-style: none;
    height: 200px;
    width: 200px;
    position: absolute;
    font: 1em sans-serif;
}

#menu button{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-style: none;font: 1em sans-serif;
}

#menu{
    position: absolute;
    z-index: 2;
}

#calc{
    height: 190px !important;
    width: 190px !important;
    z-index: 1;
}

#tour{
    height: 90px !important;
    width: 90px !important;
    z-index: 1;
}

#weather{
    height: 140px !important;
    width: 140px !important;
    z-index: 1;
}

#clock{
    height: 100px !important;
    width: 100px !important;
    z-index: 1;
}

#timer{
    height: 120px !important;
    width: 120px !important;
    z-index: 1;
}

#currency{
    height: 170px !important;
    width: 170px !important;
    z-index: 1;
}

/*----- BUTTON HOVER -----*/

#calc:hover{
    box-shadow: 2px 2px 15px;
}

/*----- ANIMATIONS -----*/

@keyframes animeCalc{
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(-250px, -165px);
    }
    100%{
        transform: translate(-225px, -150px);
    }
}

@keyframes animeWeather{
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(160px, -195px);
    }
    100%{
        transform: translate(145px, -180px);
    }
}

@keyframes animeTour{
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(-115px, 195px);
    }
    100%{
        transform: translate(-105px, 180px);
    }
}

@keyframes animeClock{
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(330px, -66px);
    }
    100%{
        transform: translate(300px, -60px);
    }
}

@keyframes animeTimer{
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(-280px, 93px);
    }
    100%{
        transform: translate(-265px, 85px);
    }
}

@keyframes animeCurrency{
    0%{
        transform: translate(0px);
    }
    50%{
        transform: translate(220px, 165px);
    }
    100%{
        transform: translate(200px, 150px);
    }
}


.animateCalc{
    animation: animeCalc 1s ease-out;
    animation-fill-mode: forwards;
}

.animateWeather{
    animation: animeWeather 1s ease-out;
    animation-fill-mode: forwards;
}

.animateTour{
    animation: animeTour 1s ease-out;
    animation-fill-mode: forwards;
}

.animateClock{
    animation: animeClock 1s ease-out;
    animation-fill-mode: forwards;
}

.animateTimer{
    animation: animeTimer 1s ease-out;
    animation-fill-mode: forwards;
}

.animateCurrency{
    animation: animeCurrency 1s ease-out;
    animation-fill-mode: forwards;
}

